
    <div class="w-100"> 
        <div class="w-100 h-25 bg-light text-center">
            <a href="/profile"><div class="d-inline-block h-50 fs-3 fw-bolder col-2 "> Profile</div></a>
            <a href="/logout" ><div class="d-inline-block h-50 fs-1 fw-bolder col-2 "> Logout</div></a>
            <a href="/users"><div class="d-inline-block h-50 fs-3 fw-bolder col-2 "> Users</div></a>
        </div>
    </div>
