<div class="w-100"> 
    <div class="w-100 h-25 bg-light text-center">
        <a href="/register"><div class="d-inline-block h-50 fs-3 fw-bolder col-2 "> Register</div></a>
        <a href="/login" ><div class="d-inline-block h-50 fs-1 fw-bolder col-2 "> Login</div></a>
        <a href="/delete"><div class="d-inline-block h-50 fs-3 fw-bolder col-2 "> Delete</div></a>
    </div>
</div>